* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f6f7f5;
  font-family: 'Cormorant Garamond', serif;
}

#portada {
  height: 100vh;
  background-image: url("img/portada.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: transform 1.6s ease;
  z-index: 2;
  inset: 0;
  animation: portadaEntrada 1.2s ease-out;
}

body.avanzar #portada {
  transform: translateY(-100vh);
}

@keyframes portadaEntrada {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* SOBRE */
.envelope {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: #e8e4d8;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  overflow: hidden;
  z-index: 1;
}
.envelope-top {
  top: 0,
  clip-path: polygon(0 0, 50% 100%, 100% 0)
}
.envelope-front {
  bottom: 0,
  clip-path: polygon(0 100%, 50% 0, 100% 100%)
}

/*lineas */
.lineas {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.lineas-superior {
  background:
    linear-gradient(135deg, transparent 49%, #9c9c9c 50%, transparent 51%),
    linear-gradient(-135deg, transparent 49%, #9c9c9c 50%, transparent 51%);
}

.lineas-inferior {
  background:
    linear-gradient(-45deg, transparent 49%, #9c9c9c 50%, transparent 51%),
    linear-gradient(45deg, transparent 49%, #9c9c9c 50%, transparent 51%);
}

.envelope-back {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* CONTENIDO ENCIMA */
.contenido {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  pointer-events: none;
}

.nombres {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: #8aa39b;
  text-align: center;
  line-height: 1;
  z-index: 10;
}

.nombres span {
  font-size: 2.8rem;
  margin: -10px 0 -10px 0;
  display: block;
}

.subtitle {
  position: absolute;
  bottom: 20px;
  font-size: 1.8rem;
  letter-spacing: 1px; 
  margin-bottom: 28px;
  color: #6f7f79;
  font-style: italic;
  opacity: 0.9;
  z-index: 10;
}

/* SELLO */
.sello {
  position: absolute;
  left: 40%;
  bottom: 41%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background-image: url("img/sello.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
.envelope.abierto .sobre-superior {
  transform: translateY(-120%);
  transition: transform 1.6s ease-in-out;
}

.envelope.abierto .sobre-inferior {
  transform: translateY(120%);
  transition: transform 1.6s ease-in-out;
}

#invitacion {
  height: 100vh;
  background: transparent;
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 1.2s ease;
  overflow-y: auto;
}
 body.avanzar #invitacion {
   opacity: 1;
   pointer-events: auto;
 }
.contenido-invitacion {
  background: #f6f7f5;
  max-width: 420px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  padding: 60px 24px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  border-radius: 8px;
}
.papel-invitacion {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;

  background-image: url("img/papel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 32px 20px;

  border-radius: 6px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.seccion-foto {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background: transparent;
}

.foto-hero {
  position: relative;
  width: 100%;
  max-width: 390px;
  height: 72vh;
  max-height: 560px;
  overflow: hidden;
  background: #f6f7f5;
}

.foto-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-image: url("img/mask-acuarela.png");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top center;

  mask-image: url("img/mask-acuarela.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: top center;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

@media (max-width: 480px) {
  .foto-hero {
    height: 58vh;
  }
}

body.avanzar .foto-hero-img {
  opacity: 1;
  transform: translateY(0);
}

@keyframes flotar {
  0% { transform: translateY(0); }
  50% { transform: translateY(14px); }
  100% { transform: translateY(0); }
}


@keyframes acuarelaFlota {
  0%   { mask-position: center 0; }
  50%  { mask-position: center -20px; }
  100% { mask-position: center 0; }
}

@keyframes fotoAcuarela {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fotoEntrada {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

