* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f7f5;
  font-family: 'Cormorant Garamond', serif;
}

#portada {
  height: 100vh;
  background-image: url("img/portada.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* SOBRE */
.envelope {
  position: relative;
  width: 300px;
  height: 480px;
  background: #e8e4d8;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  overflow: hidden;
  z-index: 1;
}

/* Líneas del sobre */
.envelope::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      to bottom right,
      transparent 49.6%,
      #9f9b92 50%,
      transparent 50.4%
    ),
    linear-gradient(
      to bottom left,
      transparent 49.6%,
      #9f9b92 50%,
      transparent 50.4%
    );
  pointer-events: none;
  z-index: 1;
}

.envelope-back {
  position: absolute;
  inset: 0;
  z-index: ;
}

/* Solapa */
.envelope-front {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52%;
  background: #e6e1d6; /* un poco más oscuro */
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  border-top: 2px solid #9f9b92;
  z-index: 3;
}

/* CONTENIDO ENCIMA */
.contenido {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  pointer-events: none;
}

.nombres {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Allura', cursive;
  font-size: 2.4rem;
  color: #8aa39b;
  text-align: center;
  line-height: 1.05;
  z-index: 5;
}

.nombres span {
  font-size: 1.1rem;
  margin: -4px 0;
  display: block;
}

.subtitle {
  font-size: 1.35rem;
  letter-spacing: 1.2px; 
  margin-bottom: 50px;
  color: #6f7f79;
  font-style: italic;
  opacity: 0.9;
  z-index: 5;
}

/* SELLO */
.sello {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76px;
  height: 76px;
  background-image: url("img/sello.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
