* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f7f5;
  font-family: 'Cormorant Garamond', serif;
}

#portada {
  height: 100vh;
  background-image: url("img/portada.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* SOBRE */
.envelope {
  position: relative;
  width: 380px;
  height: 500px;
  background: #e8e4d8;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  overflow: hidden;
  transition: opacity 0.8s ease;
  z-index: 1;
}
.envelope.desaparece {
  opacity:0;
}
.sobre-superior,
.sobre-inferior {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  overflow: hidden;
  transition: transform 1.8s cubic-bezier(.22,.61,.36,1);
}

.sobre-superior {
  top: 0;
  z-index: 10;
}

.sobre-inferior {
  bottom: 0;
  z-index: 9;
}

/*lineas */
.envelope::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(135deg,
      transparent 51%,
      #9c9c9c 49%,
      #9c9c9c 51%,
      transparent 52%),
    linear-gradient(-135deg,
      transparent 51%,
      #9c9c9c 49%,
      #9c9c9c 51%,
      transparent 52%);
  z-index: 2;
  pointer-events: none;
}

.envelope-back {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* Solapa */
.envelope-front {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #e8e4d8;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  border-top: 2px solid #9a968d;
  box-shadow: inset 0 8px 10px rgba(0,0,0,0.04);
  transition: transform 1.6s cubic-bezier(.22,.61,.36,1),
    opacity 1s ease;
  z-index: 1;
}
.envelope-front {
  transform: translateY(0);
  transition: transform 1.2s cubic-bezier(.4,0.2,1),
  opacity 1.5s ease;
}
.envelope.abierto .envelope-front {
  transform: translateY(110%);
  opacity: 0;
}

/* CONTENIDO ENCIMA */
.contenido {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  pointer-events: none;
}

.nombres {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Allura', cursive;
  font-size: 3.5rem;
  color: #8aa39b;
  text-align: center;
  line-height: 1;
  z-index: 10;
}

.nombres span {
  font-size: 2.1rem;
  margin: -10px 0 -10px 0;
  display: block;
}

.subtitle {
  position: absolute;
  bottom: 26px;
  font-size: 1.4rem;
  letter-spacing: 1px; 
  margin-bottom: 28px;
  color: #6f7f79;
  font-style: italic;
  opacity: 0.9;
  z-index: 10;
}

/* SELLO */
.sello {
  position: absolute;
  left: 40%;
  bottom: 42%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background-image: url("img/sello.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

/* SOLAPA SUPERIOR (animable) */
.envelope-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #e8e4d8;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border-bottom: 2px solid #9a968d;
  box-shadow: inset 0 -8px 10px rgba(0,0,0,0.05);
  transform-origin: top center;
  transition: transform 1.2s ease, opacity 0.8s ease;
  z-index: 3;
}
.envelope.top {
  transform: translateY(0);
  transform: rotateY 1.2s cubic-bezier(.4,0,.2,1),
  opacity 1.5s ease;
}
.envelope.abierto .envelope-top {
  transform: translateY(-110%);
  opacity: 0;
}
#invitacion {
  position: absolute;
  inset: 0;
  background: #f6f7f5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease;
  z-index: 0;
}

#invitacion.visible {
  opacity: 1;
  visibility: visible;
}




